@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Fonts
$font-header: 'Luckiest Guy', cursive;
$font-content: 'Open Sans', Sans-Serif;

// Colors
$theme-main: #F30021;
$theme-main-contrast: #FFFFFF;
$theme-main-gradient: #FD5638;
$theme-secondary: #555555;
$theme-content: #FFFFFF;
$theme-content-contrast: #555555;
$theme-background: #AAAAAA;
$theme-background-contrast: #333333;
$theme-shadow: #000000;
$theme-icon-fill: #333333;
$theme-icon-stroke: #000000;

