@use "variables" as var;

html {
    font-size: 16px;
}

body {
    margin: 0;
    background: var.$theme-background;
    color: var.$theme-background-contrast;

    font-family: var.$font-content;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.header {
    background: var.$theme-main;
    color: var.$theme-main-contrast;

    position: fixed;
    left: 0;
    right: 0;
    padding: 1rem 0;
    z-index: 1;

    font-family: var.$font-header;
    font-size: 2rem;
    text-align: center;

    box-shadow: 0 0 0.5rem 0 var.$theme-shadow;
}

.content {
    background: var.$theme-content;
    color: var.$theme-content-contrast;

    box-sizing: border-box;
    max-width: 1000px;
    height: 1000px;
    padding: 1rem;
    margin: 0 auto;

    box-shadow: 0 0 0.5rem 0 var.$theme-shadow;
}

.content > h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

input {
    background-color: var.$theme-default-input-background;
}

input:focus {
    background-color: #FFFFFF;
}

input[type="submit"]:hover {
    cursor: pointer;
}

@mixin reset-form {
    width: 200px;
    margin: auto auto;
    input {
        // Reset
        display: block;
        outline: none;
        border: none;

        // Apply
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 0.35rem;
        font-family: var.$font-header;

        box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem var.$theme-shadow;

        transition: 0.2s;
    }

    input[type="submit"] {
        background: var.$theme-secondary;
        color: var.$theme-main-contrast;
        text-shadow: 0.1rem 0.1rem var.$theme-shadow;
    }
}

@mixin mediaQueries {
    @media only screen and (min-width: 800px) {
        html {
            font-size: 1.5vw;
        }
    }
}
