@use "variables" as var;
@use "global" as global;

html {
    font-size: 16px;
}

body {
    background: var.$theme-main;
    color: var.$theme-main-contrast;
    text-align: center;
}

h1 {
    font-size: 6rem;
    font-family: var.$font-header;
    margin-bottom: 2rem;
}

form {
    @include global.reset-form;
}
