@use "variables" as var;
@use "global" as global;

html {
    font-size: 16px;
}

body {
    background: linear-gradient(-20deg, var.$theme-main-gradient 20%, var.$theme-main 60%, var.$theme-main-gradient 100%);
    color: var.$theme-main-contrast;
    text-align: center;
}

h1 {
    font-size: 6rem;
    font-family: var.$font-header;
    margin-bottom: 2rem;
    text-shadow: 0.5rem 0.5rem 0.5rem black;
    -webkit-transform: rotate(-2deg) translateY(1rem);
}

p {
    font-family: var.$font-header;
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    width: 20rem;
    margin: 0 auto;
}

.stress {
    display: inline-block;
    -webkit-transform: rotate(-5deg);
}

.options {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 12rem;
    margin: 3rem auto;
}

.box {
    border: 2px solid var.$theme-icon-stroke;
    background: var.$theme-background;
    border-radius: 0.75rem;
    width: 5rem;
    color: var.$theme-icon-fill;
    overflow: hidden;
    box-shadow: 0.25rem 0.25rem 0.5rem 0 var.$theme-shadow;
    font-family: var.$font-header;

    //-webkit-transition: 0.2s ease-in-out;
    //-moz-transition: 1s ease-in-out;
    //-o-transition: 1s ease-in-out;

    .label {
        background: var.$theme-icon-fill;
        color: var.$theme-main-contrast;
        display: block;
        padding: 0.25rem;
    }

    .icon {
        stroke: var.$theme-icon-stroke;
        fill: var.$theme-icon-fill;
        width: 3rem;
        overflow: visible;
        padding: 1rem;
    }
}

.box-hover {
    background: var.$theme-main-contrast;

    .icon {
        fill: var.$theme-main;
    }

    .label {
        color: var.$theme-main;
        text-shadow: 0.1rem 0 0.1rem var.$theme-main-contrast;
    }
}

form {
    @include global.reset-form;
    margin-top: 2rem;

    input:nth-child(odd):focus {
        transform: scale(1.1) rotate(-2deg);
    }

    input:nth-child(even):focus {
        transform: scale(1.1) rotate(2deg);
    }

    input[type="submit"] {
        margin-top: 1rem;
        transform: scale(1.2) rotate(-2deg);
    }

    input[type="submit"]:focus {
        transform: scale(1.4) rotate(-2deg);
    }
}

@keyframes slide {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateX(0);
    }
}
