@import url(https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap);@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);html {
  font-size: 16px;
}

body {
  margin: 0;
  background: #AAAAAA;
  color: #333333;
  font-family: "Open Sans", Sans-Serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.header {
  background: #F30021;
  color: #FFFFFF;
  position: fixed;
  left: 0;
  right: 0;
  padding: 1rem 0;
  z-index: 1;
  font-family: "Luckiest Guy", cursive;
  font-size: 2rem;
  text-align: center;
  box-shadow: 0 0 0.5rem 0 #000000;
}

.content {
  background: #FFFFFF;
  color: #555555;
  box-sizing: border-box;
  max-width: 1000px;
  height: 1000px;
  padding: 1rem;
  margin: 0 auto;
  box-shadow: 0 0 0.5rem 0 #000000;
}

.content > h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

