@import url(https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap);@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);html {
  font-size: 16px;
}

body {
  margin: 0;
  background: #AAAAAA;
  color: #333333;
  font-family: "Open Sans", Sans-Serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.header {
  background: #F30021;
  color: #FFFFFF;
  position: fixed;
  left: 0;
  right: 0;
  padding: 1rem 0;
  z-index: 1;
  font-family: "Luckiest Guy", cursive;
  font-size: 2rem;
  text-align: center;
  box-shadow: 0 0 0.5rem 0 #000000;
}

.content {
  background: #FFFFFF;
  color: #555555;
  box-sizing: border-box;
  max-width: 1000px;
  height: 1000px;
  padding: 1rem;
  margin: 0 auto;
  box-shadow: 0 0 0.5rem 0 #000000;
}

.content > h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

html {
  font-size: 16px;
}

body {
  background: linear-gradient(-20deg, #FD5638 20%, #F30021 60%, #FD5638 100%);
  color: #FFFFFF;
  text-align: center;
}

h1 {
  font-size: 6rem;
  font-family: "Luckiest Guy", cursive;
  margin-bottom: 2rem;
  text-shadow: 0.5rem 0.5rem 0.5rem black;
  -webkit-transform: rotate(-2deg) translateY(1rem);
}

p {
  font-family: "Luckiest Guy", cursive;
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  width: 20rem;
  margin: 0 auto;
}

.stress {
  display: inline-block;
  -webkit-transform: rotate(-5deg);
}

.options {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 12rem;
  margin: 3rem auto;
}

.box {
  border: 2px solid #000000;
  background: #AAAAAA;
  border-radius: 0.75rem;
  width: 5rem;
  color: #333333;
  overflow: hidden;
  box-shadow: 0.25rem 0.25rem 0.5rem 0 #000000;
  font-family: "Luckiest Guy", cursive;
}

.box .label {
  background: #333333;
  color: #FFFFFF;
  display: block;
  padding: 0.25rem;
}

.box .icon {
  stroke: #000000;
  fill: #333333;
  width: 3rem;
  overflow: visible;
  padding: 1rem;
}

.box-hover {
  background: #FFFFFF;
}

.box-hover .icon {
  fill: #F30021;
}

.box-hover .label {
  color: #F30021;
  text-shadow: 0.1rem 0 0.1rem #FFFFFF;
}

form {
  width: 200px;
  margin: auto auto;
  margin-top: 2rem;
}

form input {
  display: block;
  outline: none;
  border: none;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.35rem;
  font-family: "Luckiest Guy", cursive;
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem #000000;
  transition: 0.2s;
}

form input[type=submit] {
  background: #555555;
  color: #FFFFFF;
  text-shadow: 0.1rem 0.1rem #000000;
}

form input:nth-child(odd):focus {
  transform: scale(1.1) rotate(-2deg);
}

form input:nth-child(even):focus {
  transform: scale(1.1) rotate(2deg);
}

form input[type=submit] {
  margin-top: 1rem;
  transform: scale(1.2) rotate(-2deg);
}

form input[type=submit]:focus {
  transform: scale(1.4) rotate(-2deg);
}

@-webkit-keyframes slide {
  from {
    transform: translateY(-100vh);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide {
  from {
    transform: translateY(-100vh);
  }

  to {
    transform: translateX(0);
  }
}

